body {
    background-color: #F5DEFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.title-img {
    width: 50%;
    margin-bottom: 20px;
}

.outfit-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.outfit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.outfit-img {
    width: 350px; /* Increased width for larger images */
    height: auto;
}

.arrow {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.arrow img {
    width: 50px;
    height: auto;
}
